
docs/EPJP2019/Gross-EPJP-2019.aux
docs/EPJP2019/Gross-EPJP-2019.log
docs/EPJP2019/Gross-EPJP-2019.synctex.gz
docs/EPJP2019/Gross-EPJP-2019.bbl
docs/EPJP2019/Gross-EPJP-2019.blg
*.aux
*.bbl
*.log
*.blg
*.gz
